<h1><center> Name : Muteb Alotaibi</center></h1>

<h2>1. Data Reading:</h2>

Write functions to read data from CSV, Excel, JSON, and other formats using Pandas.

In [5]:
import pandas as pd

def read_file(file_path):
    # Check if the file is a CSV or Excel file
    if file_path.endswith('.csv'):
        # Read CSV file
        df = pd.read_csv(file_path)
    elif file_path.endswith(('.xls', '.xlsx')):
        # Read Excel file
        df = pd.read_excel(file_path)
    else:   
        print("Unsupported file format. Please provide a CSV or Excel file.")
        return None
    
    return df

In [4]:
file_path = input("Enter the file path: ")
data = read_file(file_path)
if data is not None:
    print("Data loaded successfully:")
    print(data)

Enter the file path: QVI_transaction_data.xlsx
Data loaded successfully:
         DATE  STORE_NBR  LYLTY_CARD_NBR  TXN_ID  PROD_NBR  \
0       43390          1            1000       1         5
1       43599          1            1307     348        66
2       43605          1            1343     383        61
3       43329          2            2373     974        69
4       43330          2            2426    1038       108
...       ...        ...             ...     ...       ...
264831  43533        272          272319  270088        89
264832  43325        272          272358  270154        74
264833  43410        272          272379  270187        51
264834  43461        272          272379  270188        42
264835  43365        272          272380  270189        74

                                       PROD_NAME  PROD_QTY  TOT_SALES
0         Natural Chip        Compny SeaSalt175g         2        6.0
1                       CCs Nacho Cheese    175g         3        6.3
2         Smiths Crinkle Cut  Chips Chicken 170g         2        2.9
3         Smiths Chip Thinly  S/Cream&Onion 175g         5       15.0
4       Kettle Tortilla ChpsHny&Jlpno Chili 150g         3       13.8
...                                          ...       ...        ...
264831   Kettle Sweet Chilli And Sour Cream 175g         2       10.8
264832             Tostitos Splash Of  Lime 175g         1        4.4
264833                  Doritos Mexicana    170g         2        8.8
264834   Doritos Corn Chip Mexican Jalapeno 150g         2        7.8
264835             Tostitos Splash Of  Lime 175g         2        8.8

[264836 rows x 8 columns]

<h2>2.Data Summary:</h2>
Develop functions to print key statistical summaries of the data, including metrics like the average and most frequent values.

In [6]:
def dataset_summary(data):
  
    summary = data.describe(include='all').transpose()
    summary['dtype'] = data.dtypes
    summary['missing_values'] = data.isnull().sum()
    summary['unique_values'] = data.nunique()
    return summary

def correlation_matrix(data):
   
    return data.corr()

def missing_values_summary(data):
   
    missing_values = data.isnull().sum()
    return missing_values

def categorical_summary(data):
    
    categorical_summary = data.describe(include=['object'])
    return categorical_summary

In [10]:
data_summery = dataset_summary(data)
print (data_summery)

                   count unique                                     top  freq  \
DATE            264836.0    NaN                                     NaN   NaN
STORE_NBR       264836.0    NaN                                     NaN   NaN
LYLTY_CARD_NBR  264836.0    NaN                                     NaN   NaN
TXN_ID          264836.0    NaN                                     NaN   NaN
PROD_NBR        264836.0    NaN                                     NaN   NaN
PROD_NAME         264836    114  Kettle Mozzarella   Basil & Pesto 175g  3304
PROD_QTY        264836.0    NaN                                     NaN   NaN
TOT_SALES       264836.0    NaN                                     NaN   NaN

                         mean           std      min      25%       50%  \
DATE              43464.03626    105.389282  43282.0  43373.0   43464.0
STORE_NBR           135.08011      76.78418      1.0     70.0     130.0
LYLTY_CARD_NBR  135549.476404  80579.978022   1000.0  70021.0  130357.5
TXN_ID          135158.310815  78133.026026      1.0  67601.5  135137.5
PROD_NBR            56.583157     32.826638      1.0     28.0      56.0
PROD_NAME                 NaN           NaN      NaN      NaN       NaN
PROD_QTY             1.907309      0.643654      1.0      2.0       2.0
TOT_SALES              7.3042      3.083226      1.5      5.4       7.4

                      75%        max    dtype  missing_values  unique_values
DATE              43555.0    43646.0    int64               0            364
STORE_NBR           203.0      272.0    int64               0            272
LYLTY_CARD_NBR  203094.25  2373711.0    int64               0          72637
TXN_ID          202701.25  2415841.0    int64               0         263127
PROD_NBR             85.0      114.0    int64               0            114
PROD_NAME             NaN        NaN   object               0            114
PROD_QTY              2.0      200.0    int64               0              6
TOT_SALES             9.2      650.0  float64               0            112

In [9]:
data_coor= correlation_matrix(data)
print (data_coor)

                    DATE  STORE_NBR  LYLTY_CARD_NBR    TXN_ID  PROD_NBR  \
DATE            1.000000   0.001314       -0.000014  0.001171 -0.004276
STORE_NBR       0.001314   1.000000        0.950869  0.997593  0.002309
LYLTY_CARD_NBR -0.000014   0.950869        1.000000  0.954919  0.001755
TXN_ID          0.001171   0.997593        0.954919  1.000000  0.002544
PROD_NBR       -0.004276   0.002309        0.001755  0.002544  1.000000
PROD_QTY       -0.001265   0.005295        0.003834  0.005343 -0.004813
TOT_SALES      -0.001681   0.003234        0.002908  0.003468 -0.133851

                PROD_QTY  TOT_SALES
DATE           -0.001265  -0.001681
STORE_NBR       0.005295   0.003234
LYLTY_CARD_NBR  0.003834   0.002908
TXN_ID          0.005343   0.003468
PROD_NBR       -0.004813  -0.133851
PROD_QTY        1.000000   0.715307
TOT_SALES       0.715307   1.000000

In [11]:
data_missing = missing_values_summary(data)
print(data_missing)

DATE              0
STORE_NBR         0
LYLTY_CARD_NBR    0
TXN_ID            0
PROD_NBR          0
PROD_NAME         0
PROD_QTY          0
TOT_SALES         0
dtype: int64

In [12]:
data_catigorical = categorical_summary(data)
print(data_catigorical)

                                     PROD_NAME
count                                   264836
unique                                     114
top     Kettle Mozzarella   Basil & Pesto 175g
freq                                      3304

<h2>3.Handling Missing Values:</h2>
Create functions for addressing missing values, offering solutions to either remove or impute them based on set strategies.

In [ ]:
def handle_missing_values(df, strategy='remove', **kwargs):
  
    if strategy == 'remove':
        # Remove rows with any missing values
        df_cleaned = df.dropna()
        return df_cleaned
    elif strategy in ['mean', 'median', 'mode']:
        # Impute missing values with mean, median, or mode
        if strategy == 'mean':
            fill_value = df.mean()
        elif strategy == 'median':
            fill_value = df.median()
        elif strategy == 'mode':
            fill_value = df.mode().iloc[0]
        
        df_imputed = df.fillna(fill_value)
        return df_imputed
    elif strategy == 'constant':
        # Impute missing values with a constant value
        constant_value = kwargs.get('constant_value')
        if constant_value is None:
            print("Constant value not provided. Please provide a constant value.")
            return None
        else:
            df_imputed = df.fillna(constant_value)
            return df_imputed
    else:
        print("Invalid strategy. Please choose one of the following strategies: 'remove', 'mean', 'median', 'mode', 'constant'.")
        return None

data_check = {'First': [1, 3, 5,None],
        'Second': [2,None, 4,6],
        'thired': [3, 7, 11]}
df = pd.DataFrame(data)

# Handle missing values using different strategies
# Remove rows with missing values
cleaned_df = handle_missing_values(df, strategy='remove')
print("DataFrame after removing rows with missing values:")
print(cleaned_df)

# Impute missing values with mean
imputed_mean_df = handle_missing_values(df, strategy='mean')
print("\nDataFrame after imputing missing values with mean:")
print(imputed_mean_df)

# Impute missing values with a constant value (e.g., -1)
imputed_constant_df = handle_missing_values(df, strategy='constant', constant_value=-1)
print("\nDataFrame after imputing missing values with a constant value (-1):")
print(imputed_constant_df)

<h2>4. Categorical Data Encoding:</h2>
 Design functions for encoding categorical data, allowing their conversion into numerical formats for analysis.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def label_encode_categorical(df, columns):
    """
    Label encode categorical columns in a DataFrame.

    Parameters:
        df (DataFrame): Input DataFrame.
        columns (list): List of column names to label encode.

    Returns:
        DataFrame: DataFrame with categorical columns label encoded.
    """
    df_encoded = df.copy()
    label_encoder = LabelEncoder()
    for col in columns:
        if df[col].dtype == 'object':
            df_encoded[col] = label_encoder.fit_transform(df[col])
    return df_encoded

def one_hot_encode_categorical(df, columns):
 
    df_encoded = df.copy()
    for col in columns:
        if df[col].dtype == 'object':
            df_encoded = pd.concat([df_encoded, pd.get_dummies(df[col], prefix=col)], axis=1)
            df_encoded.drop(col, axis=1, inplace=True)
    return df_encoded

# Example:
data = {'Class': ['A', 'B', 'C'],
        'Color': ['Red', 'Blue', 'Green'],
        'Value': [10, 30, 50]}
df = pd.DataFrame(data)

# Label encode categorical columns
encoded_df_label = label_encode_categorical(df, columns=['Class', 'Color'])
print("DataFrame after label encoding:")
print(encoded_df_label)

# One-hot encode categorical columns
encoded_df_one_hot = one_hot_encode_categorical(df, columns=['Class', 'Color'])
print("\nDataFrame after one-hot encoding:")
print(encoded_df_one_hot)